/* CSSファイル（about.css） */

nav {
    text-align: right; /* メニューを右寄せにする */
}

/* ナビゲーションメニューのスタイル */
nav ul {
    display: flex; /* メニュー項目を横並びにする */
    gap: 20px; /* メニュー項目間の間隔 */
    padding: 0; /* デフォルトのパディングをリセット */
    list-style: none; /* 箇条書きのマーカーを非表示にする */
}

nav ul li {
    display: inline; /* メニュー項目を横並びにする */
}

nav ul li a {
    text-decoration: none; /* リンクの下線を削除する */
    color: #31355D; /* リンクのテキスト色 */
}

nav ul li a:hover {
    color: #000; /* ホバー時のリンクのテキスト色 */
}

h1 {
    font-size: 100px;
    color:#DFDFE6;
    font-family: heisei-maru-gothic-std, sans-serif;
    font-style: normal;
    font-weight: 400;
    margin-right: 700px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #31355D;
    margin-left: 181px;

    }

    .photo {
        margin-right: 181px;
    }

    p1{
        font-size: 45px;
         margin-left: 650px;
    }
    p2{
        font-size: 16px;
        margin-left: 650px;
    }
    p3{
        font-size: 16px;
        margin-left: 650px;
    }
    p4{
        font-size: 16px;
        margin-left: 650px;
    }
    p5{
        font-size: 25px;
         margin-left: 650px;
    }
    p6{
        font-size: 16px;
        margin-left: 650px;
    }